.supplements{
    background-color: white;
    padding: 1rem 3rem;
}
.suppliments_offer-image img{
    width: 100%;
}
.suppliments_banner-text p{
    color: #001325;
    font-weight: 600;
    text-align: left;
    font-size: 24px;
    padding: 1rem 0px 0px 0px;
      
}
.suppliments_banner-image img{
    width: 100%;
    margin: 0;
}
.carousel_supplements-container{
    padding-top: 2rem;
}

.supplements_carousel img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}
.supplements-text p{
   
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.slick-arrow.slick-prev{
   
    
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    margin-left: 1.5rem;
    z-index: 2;
}
.slick-arrow.slick-next{
   
    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    margin-right: 1.5rem;

}
.slick-arrow.slick-next:hover{
    background-color: rgb(172, 160, 160);
}

@media screen and (max-width:1200px) {
    .supplements{
        
        padding:0 1rem ;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        }
        .supplements_carousel img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
          
        }
       
}