.carosuel-section{
    padding: 0.5rem 3rem;
}
.carousel{
    overflow: hidden;
    background-color:white;
     
}

.image_carousel{
   position: relative;
}
.image_carousel img{
    width: 490px;
    height: 300px;
    border-radius: 10px; 
}
.image_card-text{
 position: absolute;
 bottom:10px;
 left: 10px;
}
.image_card-text h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-weight: 500;
    text-align: left;

}
.image_card-text p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-weight: 500;
    text-align: left;
}

.slick-arrow.slick-prev,.slick-next{
   
    background-color:gray;
    width: 50px;
    height: 50px;

}
.slick-arrow.slick-next{
    background-color:gray;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}
@media screen and  (max-width:1250px) {
    .image_carousel img{
        width: 400px;
        height: 300px;
        border-radius: 10px; 
    }
}

@media screen and  (max-width:1000px) {
    .image_carousel img{
        width: 300px;
        height: 150px;
        border-radius: 10px; 
    }
}
.carousel_bottom-images{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   
}
.bottom-images img{
    border-radius: 10px; 
    width: 100%;
}
