.menubar{
    
   
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(233, 213, 213);
        border-bottom: 4px solid rgb(204, 199, 199);
        padding: 0 6rem;
        align-items: flex-start;
    }
.menubar-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.menubar-links li{
    font-size: 15px;
    margin:0 1rem;
    list-style: none;
    color: rgb(138, 133, 133);
    font-weight: 400;
}
.sale_btn button {
 
    border-radius: 10px;
    background: rgb(214, 47, 103);
    color: #FFFF;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding: 0 0.5rem;
    margin-top: 1rem;
}
.menubar a:hover{
    padding-bottom: 1rem;
    color: red;
    border-bottom:3px solid red;
}



  

/* RESPONSIVE */
.header{
    padding: 0 0 8px;
    box-shadow: 0 2px 3px 0;
    display: none;
   
    
    
 
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: space-between;
   
    
}
.left-div{
    display: flex;
    align-items: center;
}
.right-div{
    display: flex;
    align-items: center;
}
.item{
    padding: 0.5rem 1rem;
}
.icon{
    height: 30px;
    width: 30px;
}

.responsive-input{
   padding: 0 1.25rem;
   margin-bottom:0.5rem;
}
.div-placeholder{
    display: flex;
    min-width: 140px;
    height: 40px;
    background-color:#f3f4f5; 
    overflow: hidden;
   
    border-radius: 64px;
}
.search-icon-div{
    margin: 8px 12px;
}
.search-icon{
    color: red;
}
.search_input-div{
    margin: 0.5rem .75rem;
    margin-left: 0;
    position: relative;
}
.search_input-div input{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border:none;
    color:#001328;
    flex: auto;
    overflow: hidden;
    background: transparent;
    width: 100%;
}


@media screen and (max-width:1200px) {
    .header{
        display: contents;
    }

    .menubar{
        display: none;
    }
    
}