.profile {
  margin: 0;
}
.profile-section {
  background-color: whitesmoke;
  padding: 0 6rem;
  margin: 0;
}
.profile-heading {
  list-style: none;
  margin: 0;
  display: flex;
}
.profile-heading li {
  margin: 0 1rem;
}
.profile-container {
  margin: 0;
  padding: 1rem 3rem 2rem 3rem;
  display: flex;
  width: 100%;
}
.profile-sidebar{
  width: 30%;
}
.profile-data{
  width: 70%;
}
.profile-smallscreen{
  display: none;
}

@media screen and (max-width: 1200px) {
  .profile-bigscreen {
    display: none;
  }
  .profile-smallscreen{
    display: contents;
  }
}

